.barraNaV 
{
	overflow: hidden;
	background-color: #33cccc;
}


.Tartaruga
{
	width: 380px;
	margin:auto;
	padding:20px;
	background-color:#ffffff;
	border-radius:15px;
	border:2px solid DodgerBlue;
}


.Atomo
{
	width: 380px;
	margin:auto;
	padding:20px;
	background-color:#ffffff;
	border-radius:15px;
	border:2px solid DodgerBlue;
}

.Login
{
	width: 380px;
	margin:auto;
	padding:20px;
	background-color:#1a1aff;
	border-radius:15px;
}

.sinistra
{
	position:absolute;
	left:20px;
}

.destra
{
	position:absolute;
	right:20px;
}

.dropbtn {
  background-color: #33ccff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


 input[type=text] { 
      width: 30%; 
      -webkit-transition: width 0.15s ease-in-out; 
      transition: width 0.15s ease-in-out; 
   } 
 
   /* When the input field gets focus, 
        change its width to 100% */
   input[type=text]:focus { 
     width: 70%; 
   } 
 
  #list{ 
    font-size:  1.5em; 
    margin-left: 90px; 
   } 
 
.animals{ 
	overflow: hidden;
   display: list-item;     
  }  