.barraNaV 
{
	overflow: hidden;
	background-color: #33cccc;
}

.Login
{
	width: 380px;
	margin:auto;
	padding:20px;
	background-color:#1a1aff;
	border-radius:15px;
}

.sinistra
{
	position:absolute;
	left:20px;
}

.destra
{
	position:absolute;
	right:20px;
}